# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cloud-api-commons/src/main/resources/
cloud-api-commons/src/test/
cloud-api-commons/target/generated-sources/
cloud-consumer-order/src/test/
cloud-consumer-order/target/generated-sources/
cloud-eureka-server7001/src/test/
cloud-eureka-server7001/target/generated-sources/
cloud-eureka-server7002/src/test/
cloud-eureka-server7002/target/generated-sources/
cloud-eureka-server7003/src/test/
cloud-eureka-server7003/target/generated-sources/
cloud-provide-payment/src/test/
cloud-provide-payment/target/generated-sources/
cloud-provide-payment8002/src/test/
cloud-provide-payment8002/target/generated-sources/
cloud-provide-payment8003/src/test/
cloud-provide-payment8003/target/generated-sources/
